# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Output and Models
output/models/*.pt
output/models/*.pth
*.pt
*.pth

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/
